<style>

    .search-btn {
    border-radius: 999px;
    padding: 0.45rem 0.9rem;
    background-color: #fe424d;
    color: white;
    border: none;
    transition: background-color 0.2s ease;
    }

    .search-btn:hover {
    background-color: #e63b45;
    }

    .search-inp {
    border-radius: 999px;
    padding: 0.55rem 1rem;
    font-size: 0.9rem;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
    }

    .search-inp:focus {
    border-color: #fe424d;
    box-shadow: 0 0 0 2px rgba(254, 66, 77, 0.25);
    }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings"> Explore</a>
            </div>

        <div class="navbar-nav ms-auto">
        <form class="d-flex position-relative" role="search" action="/listings/search" method="GET">
        <input 
            class="form-control me-2 search-inp"
            type="search"
            id="liveSearch"
            name="q"
            placeholder="Search destinations"
            autocomplete="off"
            value="<%= searchQuery ? searchQuery : '' %>"
        >

        <button class="btn search-btn" type="submit">Search</button>

        <!-- LIVE RESULTS -->
        <div id="searchResults" class="live-search-results"></div>
        </form>


        </div>
            <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/listings/new">Airbnb Your home</a>

            <% if(!currUser) { %>
                <a class="nav-link" href="/signup"><b>Sign Up</b></a>
                <a class="nav-link" href="/login"><b>Login</b></a>
            <% } %>
            <% if(currUser) { %>
                <a class="nav-link" href="/logout"><b>Logout</b></a>
            <% } %>
            </div>
        </div>
    </div>
</nav>
